:root{
    --cor-primaria: #1E293B;
    --cor-secundaria: #3B3029;
    --cor-fundo: #0F172A;
    --cor-texto: #F59E0B;
    --cor-contraste: #F59E0B;
    --cor-botao: #ffffff;

}

.tema-escuro {
    --cor-primaria: #1E293B;
    --cor-secundaria: #3B3029;
    --cor-fundo: #0F172A;
    --cor-texto: #F59E0B;
    --cor-contraste: #F59E0B;
    --cor-botao: #ffffff;
}

body{
    max-width: 100vw;
}


header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

 main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}
    article {
    display: flex;

   border: 1px solid var(--cor-botao);

   margin: 16px;
   gap: 16px;
   padding: 16px;

   flex: 1 1 25%;

   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

    img {
    width: 80px;
    height: 80px;
}

    .artigo-autor {
    font-weight: bold;
}